# pip install torch==2.1.2 torchvision==0.16.2 torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cu121
# pip install mmcv==2.1.0 -f https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html

# conda install -c conda-forge firefox geckodriver pinocchio pyaudio

mmengine
xformers==0.0.23.post1
bokeh
omegaconf
joblib
transforms3d
webdataset
tqdm
trimesh
panda3d
setuptools-scm
tomli
seaborn
roma
open3d
simplejson
pypng
imageio
scipy
selenium
meshcat
opencv-contrib-python
scikit-learn
vedo
SpeechRecognition
openai
pyserial
socketIO-client
pathlib
paho-mqtt

